* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color1: #333;
  --color2: rgb(141, 176, 177);
  --color3: white;
  --color4: #10728b;
  --color5: black;
  --bg-color: var(--color2);
  --text-color: white;
  --text2: black;
  --shadow-color: #333;
}

@media only screen and (min-width: 850px) {
  body {
    background-color: var(--bg-color);
  }
  body .nav {
    max-height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 2vh;
    border-radius: 50px;
    padding: 10px 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: var(--shadow-color);
    -webkit-filter: drop-shadow(2px 4px 8px #333);
            filter: drop-shadow(2px 4px 8px #333);
  }
  body .nav .navlink {
    width: 10vw;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1vw;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }
  body .nav .navlink:hover {
    -webkit-filter: drop-shadow(2px 4px 8px var(--text-color));
            filter: drop-shadow(2px 4px 8px var(--text-color));
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .nav #theme {
    width: 3vw;
    max-width: 30px;
    height: auto;
    margin-right: -2vw;
  }
  body .nav #theme:hover {
    -webkit-filter: drop-shadow(2px 4px 8px var(--text-color));
            filter: drop-shadow(2px 4px 8px var(--text-color));
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .nav #menu {
    display: none;
  }
  body .nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .nav .logo .logoname {
    font-size: 1.1vw;
    color: var(--text-color);
    text-decoration: none;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }
  body .nav .logo .logoname:hover {
    -webkit-filter: drop-shadow(2px 4px 8px var(--text-color));
            filter: drop-shadow(2px 4px 8px var(--text-color));
  }
  body .nav .logo .logoicon {
    min-height: 8vh;
    max-height: 50px;
    width: auto;
    -webkit-transition: .5s;
    transition: .5s;
  }
  body .nav .logo .logoicon:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  body #menu_layout {
    display: none;
  }
  body .footer {
    background-color: black;
    color: var(--bg-color);
    min-height: 15vh;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 5vw;
  }
  body .footer .espa, body .footer .euro, body .footer .ekstratia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 10px;
  }
  body .footer .espa img, body .footer .euro img, body .footer .ekstratia img {
    margin-top: 5px;
    max-height: 40px;
  }
}

@media only screen and (max-width: 450px) {
  body {
    background-color: var(--bg-color);
  }
  body .nav {
    max-height: auto;
    width: 100vw;
    padding: 10px 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: var(--shadow-color);
    -webkit-filter: drop-shadow(2px 4px 8px #333);
            filter: drop-shadow(2px 4px 8px #333);
  }
  body .nav .navlink {
    display: none;
  }
  body .nav #theme {
    width: 10vw;
    max-width: 30px;
    height: auto;
  }
  body .nav #menu {
    width: 10vw;
    max-width: 30px;
    height: auto;
    margin-right: -2vw;
  }
  body .nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .nav .logo .logoname {
    font-size: 4vw;
    color: var(--text-color);
    text-decoration: none;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }
  body .nav .logo .logoicon {
    min-height: 8vh;
    max-height: 50px;
    width: auto;
    -webkit-transition: .5s;
    transition: .5s;
  }
  body #menu_layout {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5vh;
    text-align: center;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--color1);
    color: var(--color4);
  }
  body #menu_layout #close_menu {
    position: fixed;
    max-width: 30px;
    height: auto;
    top: 5vh;
    right: 5vh;
  }
  body .footer {
    background-color: black;
    color: var(--bg-color);
    min-height: 15vh;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 5vw;
  }
  body .footer .espa, body .footer .euro, body .footer .ekstratia {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 10px;
    overflow-wrap: break-word;
  }
  body .footer .espa p, body .footer .euro p, body .footer .ekstratia p {
    font-size: small;
    word-wrap: break-word;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .footer .espa img, body .footer .euro img, body .footer .ekstratia img {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 5px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 850px) {
  body {
    background-color: var(--bg-color);
  }
  body .nav {
    max-height: auto;
    width: 100vw;
    padding: 10px 5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    background-color: var(--shadow-color);
    -webkit-filter: drop-shadow(2px 4px 8px #333);
            filter: drop-shadow(2px 4px 8px #333);
  }
  body .nav .navlink {
    display: none;
  }
  body .nav #theme {
    width: 10vw;
    max-width: 30px;
    height: auto;
  }
  body .nav #menu {
    width: 10vw;
    max-width: 30px;
    height: auto;
    margin-right: -2vw;
  }
  body .nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .nav .logo .logoname {
    font-size: 2vw;
    color: var(--text-color);
    text-decoration: none;
    -webkit-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
  }
  body .nav .logo .logoicon {
    min-height: 8vh;
    max-height: 50px;
    width: auto;
    -webkit-transition: .5s;
    transition: .5s;
  }
  body #menu_layout {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5vh;
    text-align: center;
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    font-size: 3vw;
    background-color: var(--color1);
    color: var(--color4);
  }
  body #menu_layout #close_menu {
    position: fixed;
    max-width: 30px;
    height: auto;
    top: 5vh;
    right: 5vh;
  }
  body .footer {
    background-color: black;
    color: var(--bg-color);
    min-height: 15vh;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 5vw;
  }
  body .footer .espa, body .footer .euro, body .footer .ekstratia {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    gap: 10px;
    overflow-wrap: break-word;
  }
  body .footer .espa p, body .footer .euro p, body .footer .ekstratia p {
    font-size: small;
    word-wrap: break-word;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .footer .espa img, body .footer .euro img, body .footer .ekstratia img {
    margin-top: 5px;
    max-height: 40px;
  }
}

@media only screen and (min-width: 850px) {
  .newspage {
    width: 100%;
    min-height: 90vh;
    padding: 10vh 2vw;
    color: var(--text2);
    font-size: larger;
  }
  .newspage hr {
    background-color: var(--text2);
  }
  .newspage .newscontainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2vh;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
  }
  .newspage .newscontainer .newsdiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr 1fr;
        grid-template-columns: auto 1fr 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
    margin-bottom: 2vh;
  }
  .newspage .newscontainer .newsdiv .newstitle {
    padding: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-color: var(--shadow-color);
    -webkit-filter: drop-shadow(2px 4px 8px #333);
            filter: drop-shadow(2px 4px 8px #333);
  }
  .newspage .newscontainer .newsdiv .newspic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    padding: 10px;
  }
  .newspage .newscontainer .newsdiv .newspic img {
    max-width: 300px;
    width: 20vw;
    border-radius: 10px;
  }
  .newspage .newscontainer .newsdiv p {
    font-weight: lighter;
    font-style: italic;
    margin-left: 10px;
    font-size: small;
  }
  .newspage .newscontainer .newsdiv .newsbody {
    padding: 10px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    font-size: medium;
  }
}

@media only screen and (max-width: 450px) {
  .newspage {
    width: 100%;
    min-height: 90vh;
    padding-top: 10vh;
    color: var(--text2);
    font-size: larger;
    text-align: center;
  }
  .newspage hr {
    background-color: var(--text2);
  }
  .newspage .newscontainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newspage .newscontainer .newsdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vh;
  }
  .newspage .newscontainer .newsdiv .newstitle {
    font-size: medium;
    padding: 10px;
    width: 100%;
    border: 3px var(--shadow-color) solid;
  }
  .newspage .newscontainer .newsdiv .newspic {
    padding: 10px;
    text-align: center;
  }
  .newspage .newscontainer .newsdiv .newspic img {
    max-width: 300px;
    width: 90vw;
    border-radius: 10px;
  }
  .newspage .newscontainer .newsdiv p {
    font-weight: lighter;
    font-style: italic;
    margin-left: 10px;
    font-size: small;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
  }
  .newspage .newscontainer .newsdiv .newsbody {
    padding: 10px;
    font-size: medium;
  }
}

@media only screen and (min-width: 450px) and (max-width: 850px) {
  .newspage {
    width: 100%;
    min-height: 90vh;
    padding: 10vh 2vw;
    color: var(--text2);
    font-size: larger;
  }
  .newspage hr {
    background-color: var(--text2);
  }
  .newspage .newscontainer {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newspage .newscontainer .newsdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2vh;
  }
  .newspage .newscontainer .newsdiv .newstitle {
    font-size: medium;
    padding: 10px;
    background-color: var(--shadow-color);
    -webkit-filter: drop-shadow(2px 4px 8px #333);
            filter: drop-shadow(2px 4px 8px #333);
  }
  .newspage .newscontainer .newsdiv .newspic {
    padding: 10px;
    text-align: center;
  }
  .newspage .newscontainer .newsdiv .newspic img {
    max-width: 300px;
    width: 50vw;
    border-radius: 10px;
  }
  .newspage .newscontainer .newsdiv p {
    font-weight: lighter;
    font-style: italic;
    margin-left: 10px;
    font-size: small;
    text-align: right;
  }
  .newspage .newscontainer .newsdiv .newsbody {
    padding: 10px;
    font-size: medium;
  }
}
/*# sourceMappingURL=news_style.css.map */